/* Navbar Background

Color Black
RGB  rgb(0, 0, 0)
///////////////

Navbar Button Icons (Home, About Us, etc.)


Color: White
RGB: rgb(255, 255, 255)
/////////////////////

Cart Button Background
Color: White

RGB: rgb(255, 255, 255)

////////////////////
Cart Icon/Text
Color: Black

RGB: rgb(0, 0, 0)
/////////////////

Banner Background 

Ye gradient top se bottom ka h 

Light Blue — rgb(173, 240, 255)
Pale Aqua — rgb(180, 255, 245)
Light Greenish Yellow — rgb(215, 255, 200) */