/* Navbar Background

Color Black
RGB  rgb(0, 0, 0)
///////////////

Navbar Button Icons (Home, About Us, etc.)


Color: White
RGB: rgb(255, 255, 255)
/////////////////////

Cart Button Background
Color: White

RGB: rgb(255, 255, 255)

////////////////////
Cart Icon/Text
Color: Black

RGB: rgb(0, 0, 0)
/////////////////



*/

.gradient-bg {
      background: linear-gradient(to right, #C3FFDB 42%, #B6FBFE 75%, #B7FBFF 91%);
      height: 100vh; 
      width: 100%;
    }
